
body, html{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  background-color: #f0f0f0;
  
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inner-carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.foto{
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  
}
#intro{
  background:linear-gradient(lightblue, black);
  box-shadow: 1px 10px 10px black;
}
.carousel{
  margin: 0;
  cursor: grab;
  overflow: hidden;
  padding: 20px;
}
.fotomia{
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 100%;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.item img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 250px;
 

  
  border-radius: 8px;
  pointer-events: none;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  padding: 2rem;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  box-shadow: 1px 1px 10px black;
  
}

#frontend{
  font-family: "Josefin Sans", sans-serif;
  color: white;
  
}
.carta {
  padding: 15px;
  text-align: center;
  background-color: rgb(241, 232, 219);
  border-radius: 8px;
  margin-top: 2rem;
  
}
.carta p {
  padding-top: 1rem;
  line-height: 150%;
  font-size: 20px;
}
.boton-grande {
  display: inline-block;
  padding: 20px 40px;
  background-color: #145ac4;
  color: white;
  border: none;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.726);
  transition: background-color 0.3s ease-in-out;
}



.boton-grande h1 {
  font-size: 24px;
  font-weight: bold;
}


.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-links.open {
  flex-direction: column; /* Alinea los enlaces en columna cuando está abierto */
  position: absolute; /* Posición absoluta para superponer al contenido */
  top: 50px; /* Ajusta según sea necesario para evitar solapamiento */
  left: 0;
  background-color: #333;
  padding: 10px;
  z-index: 1000; /* Asegura que esté por encima de otros contenidos */
  width: 100%; /* Ocupa todo el ancho disponible */
}

.navbar-links li {
  display: inline;
  
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

h2{
  font-size: 3rem;
}
/* src/ProjectCard.css */

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: color transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #99bbf8;
  box-shadow: 1px 1px 10px white;
}

.project-video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.project-description {
  font-size: 1rem;
  color: #555;
}
/* src/ProjectList.css */

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: #f0f0f0;
}



/* src/KnowledgeCard.css */

.knowledge-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  margin: 1rem;
}

.knowledge-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}
.knowledge-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.knowledge-card:hover .knowledge-card-inner {
  transform: rotateY(180deg);
}

.knowledge-card-front, .knowledge-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.knowledge-card-front {
  background-color: #fff;
}

.knowledge-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.knowledge-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}


/* src/KnowledgeList.css */

.knowledge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  background-color: #f0f0f0;
}
.back-text {
  transform: scaleX(-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 10px; /* Ajusta el padding según sea necesario */
  text-align: center;
}



.menu-toggle {
  display: none; /* Esconde el botón de hamburguesa en pantallas grandes */
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}













@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
   
  }

  .menu-toggle {
    display: block; 
    
  }

  .navbar-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 50px; 
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
  }

  .navbar-links.open {
    display: flex; 
  }
  


.inner-carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.foto{
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
  
}
#intro{
  background:linear-gradient(lightblue, black);
  box-shadow: 1px 10px 10px black;
}
.carousel{
  margin: 0;
  cursor: grab;
  overflow: hidden;
  padding: 20px;
}
.fotomia{
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 100%;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.item img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 250px;
 

  
  border-radius: 8px;
  pointer-events: none;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  padding: 2rem;
  color: white;
}


#frontend{
  font-family: "Josefin Sans", sans-serif;
  color: white;
  
}
.carta {
  padding: 10px;
  text-align: center;
  background-color: rgb(241, 232, 219);
  border-radius: 8px;
  margin-top: 2rem;
  
}
.carta p {
  padding-top: 1rem;
  line-height: 150%;
  font-size: 20px;
}
.boton-grande {
  display: inline-block;
  padding: 10px 20px;
  background-color: #276ed8e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}



.boton-grande h1 {
  font-size: 24px;
  font-weight: bold;
}




h2{
  font-size: 3rem;
}
/* src/ProjectCard.css */

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  
  
  width: calc(50% - 2rem); /* Ajusta el ancho para dos columnas */
  box-sizing: border-box; /* Asegúrate de que el padding y border se incluyan en el ancho total */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #99bbf8;
  box-shadow: 1px 1px 10px white;
}

.project-video {
  width: 100%;
  height: 70px;
  border-radius: 8px;
}

.project-title {
  font-size: 18px;
  margin: 0.5rem 0;
}

.project-description {
  font-size: 20px;
  color: #555;
}

/* src/ProjectList.css */

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  background-color: #f0f0f0;
}



/* src/KnowledgeCard.css */

.knowledge-card {
  perspective: 1000px;
  width: 200px;
  width: calc(50% - 2rem); /* Ajusta el ancho para dos columnas */
  box-sizing: border-box; 
  height: 300px;
  padding: 0;
  margin: 10px;
}

.knowledge-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}
.knowledge-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.knowledge-card:hover .knowledge-card-inner {
  transform: rotateY(180deg);
}

.knowledge-card-front, .knowledge-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.knowledge-card-front {
  background-color: #fff;
}

.knowledge-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.knowledge-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}


/* src/KnowledgeList.css */
.title{
  background-color: #f0f0f0;
}
.knowledge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem;
  background-color: #f0f0f0;
}
.back-text {
  transform: scaleX(1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0 10px; /* Ajusta el padding según sea necesario */
  text-align: center;
}




}
  
  
